@font-face {
  font-family: Neucha;
  src: url("../../assets/fonts/Neucha/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../../assets/fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../../assets/fonts/Open_Sans/static/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../../assets/fonts/Open_Sans/static/OpenSans-BoldItalic.ttf");
}


:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html, body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  font-family: Neucha, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.container {
  width: 1110px;
  margin: 100px auto;
  position: relative;
}

.header-wrapper {
  position: relative;
  overflow: hidden;
}

.header-wrapper:before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  background-color: var(--light);
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}

.header-title {
  padding-top: 6px;
}

.header-image {
  height: 525px;
  position: absolute;
  top: -45px;
  right: -270px;
  z-index: -1;
}

.header-text {
  margin-top: 193px;
  column-count: 2;
  column-gap: 30px;
}

.header-text > p {
  margin-top: 0;
}

.break-before {
  break-before: column;
}

.main-text {
  color: var(--main);
}

.text-uppercase {
  text-transform: uppercase;
}

.primary {
  color: var(--white);
  background: var(--main);
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
}

.primary:hover {
  background: #EA7600;
}
