@font-face {
  font-family: Neucha;
  src: url("../../assets/fonts/Neucha/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../../assets/fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../../assets/fonts/Open_Sans/static/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../../assets/fonts/Open_Sans/static/OpenSans-BoldItalic.ttf");
}


:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html, body {
  margin: 0;
  line-height: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  font-family: Neucha, sans-serif;
  font-weight: normal;
  color: var(--main);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

.align-center {
  text-align: center;
}

.break-before {
  break-before: column;
}

.main-text {
  color: var(--main);
}

.dark-text {
  color: var(--dark);
}

.text-uppercase {
  text-transform: uppercase;
}

.primary {
  color: var(--white);
  background: var(--main);
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
}

.primary:hover {
  background: #EA7600;
}

.container {
  width: 1110px;
  margin: 100px auto;
  position: relative;
}

.header-wrapper {
  position: relative;
  overflow: hidden;
}

.header-wrapper:before,
.dark-wrapper:before,
.light-wrapper:before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background-color: transparent;
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .06;
}

.header-wrapper {
  background-color: var(--light);
}

.header-wrapper .container {
  z-index: 2;
}

.dark-wrapper:before,
.light-wrapper:before {
  opacity: .06;
  z-index: 0;
}

.dark-wrapper {
  background-color: var(--light);
}

.light-wrapper {
  background-color: var(--brown);
}

.header-title {
  padding-top: 6px;
}

.header-image {
  height: 525px;
  position: absolute;
  top: -45px;
  right: -270px;
  z-index: -1;
}

.header-text {
  margin-top: 193px;
  column-count: 2;
  column-gap: 30px;
  color: var(--dark);
}

.header-text > p {
  margin-top: 0;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
}

.video-wrapper:before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;

  width: 100%;
  height: 100px;

  background-color: var(--main-dark);
}

.video-wrapper h2 {
  margin-bottom: 30px;
}

.video-wrapper .video {
  display: block;
  margin: 30px auto -84px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation-wrapper {
  background-color: var(--main-dark);
  overflow: hidden;
}

.navigation-wrapper .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.nav-item {
  flex-basis: 350px;
  margin-bottom: 20px;
  background-color: var(--light);
  padding: 24px;
  box-sizing: border-box;
}

.nav-item:first-child {
  background-color: var(--main-dark);
  padding: 0;
}

.nav-item h2 {
  font-size: 52px;
  margin: 0;
  color: var(--white);
}

.nav-item h3 {
  color: var(--main);
  line-height: 1.1em;
  margin: 0;
}

.nav-item p {
  margin-bottom: 0;
  color: var(--dark);
}

.nav-number {
  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 1.2em;
  color: var(--main-dark);
  margin-bottom: 30px;
  display: block;
}

.dark-wrapper,
.light-wrapper {
  position: relative;
  overflow: hidden;
}

.article-tag {
  font-family: Neucha, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  padding-top: 2px;
  display: block;
}

.article-img {
  margin-bottom: 100px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.15);
}

.dark-text .article-tag {
  color: var(--dark-50);
}

.dark-text h2,
.dark-text h3 {
  color: var(--dark);
}

.light-text .article-tag {
  color: var(--white-50);
}

.light-text .text-white {
  color: var(--white);
}

.article-wrapper h2 {
  margin: 4px 0;
}

.article-wrapper h3 {
  margin: 28px 0;
}

.dark-text .article-title {
  background-color: var(--brown);
  color: var(--white);
}

.dark-text .column-wrapper p {
  color: var(--dark);
}

.light-text .column-wrapper p {
  color: var(--white);
}

.light-text .article-title {
  background-color: var(--white);
  color: var(--brown);
}

.article-title {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2em;
  padding: 5px 10px;

  column-span: all;
  margin-top: 0;
  margin-bottom: 19px;
}

.column-wrapper {
  clear: both;
  column-count: 2;
  column-gap: 30px;
}

.column-wrapper p {
  margin-bottom: 0;
}

.first-el {
  margin-top: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-right30 {
  margin-right: 30px;
}

.margin-left30 {
  margin-left: 30px;
}

footer {
  background-color: var(--white-50);
  overflow: hidden;
}
